
<nav class="navbar navbar-expand navbar-light bg-light">
  <div class="container">
    <div class="navbar-header">
      <h3><a class="navbar-band">{{ pageTitle }}</a></h3>
    </div>
    <ul class="nav nav-pills">
      <li  class="nav-item"><a class="nav-link " [routerLink]="['/welcome']">Home</a></li>
      <li class="nav-item"><a class="nav-link" [routerLink]="['/schedules']">Schedule list</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Page 2</a></li>
    </ul>
    <ul class="nav nav-pills navbar-right">
      <li class="nav-item"><a [routerLink]="['/signup']"><span class="nav-link fa fa-user"></span>Sign Up</a></li>
      <li class="nav-item"><a [routerLink]="['/login']"><span class="nav-link fa fa-sign-in"></span>Login</a></li>
    </ul>
  </div>
</nav>
<div >
  <router-outlet></router-outlet>
</div>
