
<nav class="navbar navbar-expand navbar-light bg-light">
  <div class="container">
    <div class="navbar-header">
      <h3><a class="navbar-band">{{ pageTitle }}</a></h3>
    </div>
    <ul class="nav nav-pills">
      <li  class="nav-item"><a class="nav-link " [routerLink]="['/welcome']" routerLinkActive="active">Home</a></li>
      <li class="nav-item"><a class="nav-link" [routerLink]="['/schedules']" routerLinkActive="active">Schedule list</a></li>
      <li class="nav-item"><a class="nav-link" [routerLink]="['/schedule']" routerLinkActive="active">New Schedule</a></li>

      <li class="nav-item"><a class="nav-link" href="#" routerLinkActive="active">My schedules</a></li>
    </ul>
    <ul class="nav nav-pills navbar-right">
      <a *ngIf="auth.isLoggedIn()" class="nav-link">welcome {{ auth.getLoggedUser() }}</a>
      <li *ngIf="auth.isLoggedIn()" class="nav-item"><a class="nav-link" type="button" (click)="logout()"  routerLinkActive="active"><span class="nav-link fa fa-sign-out"></span>Logout</a></li>
      <li *ngIf="!auth.isLoggedIn()" class="nav-item"><a class="nav-link" [routerLink]="['/signup']" routerLinkActive="active"><span class="nav-link fa fa-user"></span>Sign Up</a></li>
      <li *ngIf="!auth.isLoggedIn()" class="nav-item"><a class="nav-link" [routerLink]="['/login']" routerLinkActive="active"><span class="nav-link fa fa-sign-in"></span>Login</a></li>
    </ul>
  </div>
</nav>
<div >
  <router-outlet></router-outlet>
</div>
